@import 'variable';
@media (min-width:992px) and (max-width:1200px) {
    .best_plan_wrapper {
        flex-wrap: wrap;
        li.best_plan_col{
            width: 33.33%;
            margin-bottom: 30px;
        }
    }
    .plans_container {
        .plans_wrapper {
            .plans_card{
                flex-direction: column;
                align-items: center;
                .choose_plan_text{
                    margin: 5px auto;
                }
                .plan_price_info{
                    h3{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .pl_4,
    .px_4 {
        padding-left: 2rem !important;
    }
    .pr_4,
    .px_4 {
        padding-right: 2rem!important;
    }
    .best_plan_wrapper {
        flex-wrap: wrap;
        li.best_plan_col {
            width: 50%;
            margin-bottom: 30px;
            .best_plan_card.most_popular {
                margin-top: 0;
            }
        }
    }
    .navbar.navbar_style {
        .btn-login {
            padding: 5px 15px;
        }
        .navbar-brand {
            font-size: 24px;
            margin-right: 0.6rem;
        }
        .nav-item .nav-link {
            padding: 22px 8px;
            font-size: 15px;
        }
    }
    .banner_section {
        .banner_heading {
            font-size: 24px;
            line-height: 42px;
            padding-right: 0;
        }
        .banner_topper {
            margin-bottom: 0;
            ul {
                li {
                    .hover_card {
                        width: 200px;
                        height: 200px;
                        img {
                            max-height: 60px;
                            margin-bottom: 15px;
                        }
                        h5 {
                            font-size: 18px;
                        }
                        h4 {
                            font-size: 20px;
                        }
                    }
                    &:nth-child(8n-2),
                    &:nth-child(8n-3) {
                        .hover_card {
                            left: unset;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .latest_course {
        .latest_course_card {
            h2 {
                width: 100%;
                font-size: 36px;
            }
            ul {
                width: 100%;
            }
        }
        &.pt_6 {
            padding-top: 3rem!important;
        }
    }
    .our_centers_card {
        margin-bottom: 30px;
    }
    .h2_heading {
        font-size: 32px;
        line-height: 46px;
        padding-bottom: 20px;
    }
    .counts_section .count-div .text-div {
        .title {
            font-size: 13px;
        }
        .count-text {
            font-size: 15px;
        }
    }
}

@media (min-width:320px) and (max-width:767px) {
    .navbar.navbar_style {
        .navbar-collapse {
            padding-bottom: 30px;
        }
        .navbar-brand {
            padding: 15px 0;
            font-size: 20px;
        }
    }
    .banner_section {
        .banner_heading {
            font-size: 24px;
            padding-right: 1.5rem;
        }
        .banner_topper {
            ul {
                li {
                    .hover_card {
                        width: 180px;
                        height: 180px;
                        img {
                            max-height: 60px;
                            margin-bottom: 15px;
                        }
                        h5 {
                            font-size: 16px;
                        }
                        h4 {
                            font-size: 18px;
                        }
                    }
                    &:nth-child(8n-2),
                    &:nth-child(8n-3) {
                        .hover_card {
                            left: unset;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .course_offered {
        .nav-tabs {
            .nav-link {
                padding: 10px 0;
            }
        }
    }
    .latest_course {
        background-position: center;
        background-repeat: no-repeat;
        &.pt_6 {
            padding-top: 3rem !important;
        }
        .latest_course_card {
            h2 {
                width: 100%;
                font-size: 24px
            }
            ul {
                width: 100%;
            }
        }
    }
    .owl-dots {
        margin-top: 2.5rem;
    }
    .btn_enquiry {
        padding: 13px 20px;
    }
    .our_centers_card {
        margin-bottom: 2rem;
    }
    .counts_section {
        .counts-col:last-child {
            .count-div {
                margin-bottom: 0;
            }
        }
        .count-div {
            margin-bottom: 2rem;
        }
    }
    footer .copyright_col {
        padding: 20px 15px;
    }
    .best_plan_wrapper {
        padding: 30px;
        flex-direction: column;
        li.best_plan_col {
            width: 100%;
            margin-bottom: 30px;
            .best_plan_card.most_popular {
                margin-top: 0;
            }
        }
    }
    .course_header {
        background-size: cover;
        .course_header_content {
            .row {
                justify-content: center;
            }
        }
        .course_info_card {
            flex-direction: column;
            text-align: center;
            width: 80%;
            li {
                border-right: 0;
                border-bottom: 4px solid $course_border;
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
    .course_description {
        .faculties_details_wrapper {
            flex-direction: column;
            .faculties_details {
                margin-top: 30px;
            }
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }
    .plans_container {
        .plans_card {
            .plan_info {
                .choose_plan_text {
                    font-size: 12px;
                    padding: 3px 8px;
                }
                h6 {
                    margin-bottom: .6rem!important;
                    font-size: 14px;
                }
            }
            .plan_price_info {
                h3 {
                    font-size: 20px;
                    text-align: right;
                }
                a {
                    font-size: 12px!important;
                }
            }
        }
    }
    .pl_4,
    .px_4 {
        padding-left: 1.5rem!important;
    }
    .pr_4,
    .px_4 {
        padding-right: 1.5rem!important;
    }
}

@media(min-width:768px) {
    .navbar-nav li:hover .dropdown-menu {
        display: block;
    }
}