$theme_blue:#3F74B5;
$text_white:#ffffff;
$text_black:#000;
$text_dark:#333333;
$text_gray:#DCDEE1;
$text_gray_1:rgba(33, 100, 154, 0.1);
$text_gray_2: #F5F5F5;
$text_red: #EF5153;
$border_color:#EEEDED;
$footer_border_color:#ffffff80;
$change_bg:rgba(33, 100, 154, 0.56);
$course_border:#F6F7F9;